.bannerImgBox {
	border-bottom: 1px solid #d3d3d3;
}

.bannerImgBox img {
	width: 100%;
	display: block;
}

.introduceBox {
	width: 100%;
	padding: 0 2.5% 0.45rem 2.5%;
	border-bottom: 1px solid #d3d3d3;
}

.introduceBox h1 {
	font-size: 0.42rem;
	color: #333;
	margin: 0.25rem;
}

.introduceBox h2 {
	font-size: 0.24rem;
	color: #888;
}

.introduceBox .price {
	margin: 0.2rem 0;
}

.introduceBox .price span {
	font-size: 0.5rem;
	color: #ff5847;
	float: left;
	height: 0.7rem;
	margin-right: 0.2rem;
}

.introduceBox .price s {
	font-size: 0.24rem;
	color: #bbb;
	float: left;
	height: 0.7rem;
	line-height: 0.9rem;
}

.introduceBox ul li {
	float: left;
	width: 25%;
	font-size: 0.24rem;
	color: #888;
	text-align: center;
}

.introduceBox ul li:first-child {
	text-align: left;
}

.introduceBox ul li:last-child {
	text-align: right;
}
.selectNum{
	position: relative;
}

.selectbox{
	padding: 0rem 0.4rem 0.4rem;
}
.selectbox ul li h4{
	font-size: 0.31rem;
	padding-bottom: 0.25rem;
	position:relative;
}
.selectbox ul li h4 strong{
	font-size: 0.31rem;
	font-weight: normal;
}
.selectbox ul li h4 span{
	position: absolute;
  	right: 0.05rem;
  	top: 0.05rem;
  	font-size: 0.3rem;
  	color: #888888;
}
/* .selectbox ul ul{
	overflow: hidden;
} */
.selectbox .phone ul{
	display: none;
}
.selectbox .phone ul.open{
	display:block;
}
.selectbox ul ul li{
	width: 2.8rem;
	height: 0.7rem;
	margin: 0 0.3rem 0.3rem 0;
	float: left;
}
.selectbox ul .package ul li {
	/*float: none;*/
	height: auto;
	width: 100%;
}
.selectbox ul .package a{
	overflow: hidden;
	padding:0.14rem 0;
}
.selectbox ul .package a div{
	float: left;
	width: 33.33%;
	text-align: center;
	height: 1.06rem;
	line-height: 1.06rem;
	font-size: 0.3rem;
	color: #111111;
}
.selectbox ul .package a div:nth-child(2){
	border-right:1px dotted #C1CACA;
	border-left:1px dotted #C1CACA;
}
.selectbox ul .package a div:last-child{
	position:relative;
	padding-top:0.3rem;
}
.selectbox ul .package a em{
	margin-top: 0.4rem;
	color:#888888;
	font-style: normal;
	font-size: 0.26rem;
}
.selectbox ul .package a i{
    display: block;
    position: absolute;
    width: 0.3rem;
    height: 0.3rem;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    left: 0;
    margin: auto;
    top:0;
    right: 0;
    bottom: 0.4rem;

}
.selectbox ul .package a.active{
	background-color: #d2f5f4;
}
.selectbox ul .package a.active div{
	color: #111111;
	background-color: #d2f5f4;
}
.selectbox ul .package a.active div:last-child i{
    border-color:#d2f5f4;
    background: url("../image/draw.png") no-repeat center;
    background-size: cover;
}
.selectbox ul ul li a{
	font-size: 0.3rem;
	display: block;
	height: 100%;
	line-height: 0.7rem;
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 0.05rem;
	color: #888888;
}
.selectbox ul ul li a.active,
.selectbox ul ul li a.active div span{
	background-color: #1CCFC9;
	border: none;
	color: #fff;
}
.selectbox ul ul li a.active div{
	color:#fff;
}
.selNo {
	width: 2.6rem;
	height: 0.7rem;
	line-height: 0.7rem;
	border: 1px solid #ddd;
	margin: 0.2rem 0;
	font-size: 0.32rem;
	color: #888;
	text-align: center;
	border-radius: 3px;
}
.showNumber{
	/*position: absolute;*/
	margin-top:0.32rem;
	width: 4rem;
	/*left: 3rem;
	top: 0.08rem;*/
	font-size: 0.25rem;
	display: none;
}
.selNo i {
	float: right;
	border: 0.15rem solid transparent;
	border-top-color: #a0a0a0;
	margin-top: 0.25rem;
	margin-right: 0.15rem;
}

.myLine {
	height: 0.2rem;
	width: 100%;
	background: #f4f4f4;
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
}

.detailImgBox {
	padding: 0.35rem 2.5% 1.3rem 2.5%;
}

.detailImgBox img {
	width: 100%;
}

.buyBox {
	position: relative;
	height: 1.3rem;
	padding: 0.25rem 2.5%;
	font-size: 0.32rem;
	background: #fff;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.buyBox .turnBack{
	position: absolute;
	top:0;
	right: 0;
	width: 60%;
	height: 100%;
}
.buyBox .shoppingCart {
	width: 1.5rem;
	height: 0.8rem;
	float: left;
	background: url("../image/shoppingCart.png") no-repeat center;
	background-size: 0.7rem;
	position: relative;
}

.buyBox .shoppingCart span {
	background: #1ccfc9;
	color: #fff;
	display: inline-block;
	position: absolute;
	width: 0.36rem;
	height: 0.36rem;
	line-height: 0.36rem;
	text-align: center;
	border-radius: 50%;
	font-size: 0.24rem;
	left: 1rem;
	top: -0.05rem;
}

.buyBox .buyNow {
	height: 0.8rem;
	line-height: 0.8rem;
	width: 2rem;
	text-align: center;
	background: #1ccfc9;
	color: #fff;
	float: right;
	border-radius: 5px;
}

.buyBox .addCart {
	height: 0.8rem;
	line-height: 0.8rem;
	width: 2rem;
	text-align: center;
	background: #fff;
	color: #1ccfc9;
	border: 1px solid #1ccfc9;
	float: right;
	margin-right: 0.15rem;
	border-radius: 5px;
}
.buyBox .addCart.complete {
	height: 0.8rem;
	line-height: 0.8rem;
	width: 2rem;
	text-align: center;
	background: #1ccfc9;
	color: #fff;
	border: 1px solid #1ccfc9;
	float: right;
	margin-right: 0.15rem;
	border-radius: 5px;
}
/*弹出框*/

.dialog {
	display: none;
	position: absolute;
	top: 2rem;;
	z-index: 999;
	width: 100%;
}


/*弹出框头部*/

.dialog .dialog-header {
	font-size: 0.34rem;
	height: 0.98rem;
	background-color: #eee;
}

.dialog-header a {
	float: left;
	width: 50%;
	height: 100%;
	color: #000;
	line-height: 0.98rem;
	background-color: #eee;
	padding: 0 0.56rem;
	color: #333;
}

.dialog-header a.cancle {
	text-align: left;
}

.dialog-header a.sure {
	text-align: right;
}
.detailContent {
	padding-bottom: 0.9rem;
}
.detailContent div{
	display: none;
}
.detailContent div.current{
	display: block;
}
/*弹出框内容*/

.dialog .dialog-content {
	font-size: 0.25rem;
	padding: 0.2rem 0.4rem 0.4rem;
	background-color: #fff;
}

form {
	height: 0.68rem;
	margin-bottom: 0.4rem;
}
form p:nth-child(1),
form p:nth-child(2){
	position: relative;
}
form p:nth-child(1) a{
	position: absolute;
	top: 0.02rem;
	right: 3.4rem;
	width: 0.3rem;
	height: 0.62rem;
	background-color: #fff;
}
form p:nth-child(2) a{
	position: absolute;
	right: 0.01rem;
	width: 1rem;
	height: 0.68rem;
	background: url(../image/search.png) no-repeat center center;
	background-size: 0.32rem 0.32rem;
}
/*.phone-type,*/
.phone-number {
	width: 100%;
	float: left;
	height: 0.68rem;
	font-size: 0.25rem;
	border: 1px solid #ddd;
	outline: none;
	padding: 0.11rem 0rem 0.11rem 0.4rem;
	background: url(../image/search.png) no-repeat 96% center;
	background-size: 0.38rem 0.36rem;
}
.phone{
	padding-top: 0.3rem;
	border-bottom: 1px solid #ddd;
}
.phone-type.phone ul li{
	width: auto;
	/*float: none;*/

}
.phone-type.phone ul li a{
	text-align: inherit;
	padding: 0 0.3rem;
}

.phone-number {
	border-radius: 0 0.05rem 0.05rem 0;
	color: #333;
}

.phone-type option {
	width: 50%;
	height: 0.68rem;
	font-size: 0.25rem;
}

.number-detail {
	width: 100%;
}

.number-detail li {
	float: left;
	text-align: center;
	height: 0.97rem;
	line-height: 0.97rem;
	width: 50%;
}
.number-detail li.selected{
	background-color: #1ccfc9;
}
.number-detail li a {
	display: block;
	height: 0.97rem;
	font-size: 0.3rem;
	color: #333;
}
.number-detail li a span{
	color: #1ccfc9;
}
/*弹出框底部*/

.dialog .dialog-footer {
	font-size: 0.25rem;
	height: 0.85rem;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}

.dialog-footer .change {
	font-size: 0.31rem;
	line-height: 0.85rem;
	display: block;
	text-align: center;
	color: #00d0ca;
	background: url(../image/refresh.png) no-repeat 2.8rem center;
	background-size: 0.32rem 0.32rem;
}


/*遮罩层*/

.mask-layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .3);
	z-index: 199;
	display: none;
}

.dialog.bounceInDown{
	-webkit-animation: myrotate 0.4s  ease ;
    -moz-animation: myrotate 0.4s  ease ;
     -ms-animation: myrotate 0.4s  ease ;
     -o-animation: myrotate 0.4s  ease ;
    animation: myrotate 0.4s  ease ;
}

@-webkit-keyframes myrotate{
      0%{
          top : -3rem;
      }
      60%{
		  top : 2.4rem;
      }  
      80%{
		  top : 1.75rem;
      }  
      100%{
          top : 2rem;
    }
 }